body,html{
 margin: 0;
 height: 100%;
 overflow-x: hidden;    
}

/*.mainContent{
 height: 100%;
 overflow-x: hidden;
 margin-bottom: -60px;
}*/

.bg {
  /*background: url(img/back.png) no-repeat center center fixed; */
 background-image: url(../img/back.png);    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 550px;    
}

.start{ 
    position: absolute;    
    margin-top: 450px;
    z-index:2;
    -moz-box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkitmoz-box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.start > img:hover{
    width: 50px;
    height: 50px;
    border-radius: 50%;
-moz-box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.3);
    -webkitmoz-box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.3);
    
} 

#feature{
    background:#00a0e3;
}
.feature{
  padding-top: 10px;        
  margin-left: 100px;
  margin-right: 100px;
}

.feature h3{
  color: white;
}

.abox{
margin-top: 15px;    
background: #00a0ea;
color: white;
padding: 10px;
}
.f_box{
 padding-top: 10px;
  padding-left:0;     
}

.box{
 padding: 10px;
}

.footerTop{
background: #00a0ea;
padding-top: 10px;
padding-bottom: 5px;    
}

.footerTop p{
  margin-top: auto;
  margin-bottom: auto;
  display: block !important;    
}

.footerTop a{
  color: #ffffff; 
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;    
}

.footerTop a:hover{
  color: #ededed;
}

.footerBottom{
 padding-top: 5px;
 padding-bottom: 10px;    
 background: #00a0ea;
 color: white;
}

.footerBottom p{
  margin-top: auto;
  margin-bottom: auto;
  display: block !important;
}

.footerBottom a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
}

.footerBottom a:hover{
 color: #ededed;
}

.social-links a{
margin: 5px;  
}
.horizontal_divider{
  min-height: 12px;
  width: 1px;
  border: 1px solid #ffffff;
  margin-left: 5px;
  margin-right: 5px;    
}


@media screen and (max-width:767px){
    .social-links{
       }
    
    .ser{
     margin-left: 25px;
     margin-right: 25px;    
    }
    
    .ser img{
       width: 100%;    
       height: 100px;
     }
}

@media screen and (min-width:768px){
    .social-links{
     
    }
    
    .ser{
     margin-top: 20px;    
     margin-left:150px;
     margin-right:150px;
     padding:20px;
    }
}